<div class="featured-video container container--light" data-action="featuredVideo">
	<a class="featured-video__modal-trigger" data-video="{{dataVideo}}">
		<img src="{{img}}" alt="{{alt}}" />
	</a>
</div>
