<div class="featured-video container container--light" data-action="featuredVideo">
	<a class="featured-video__modal-trigger fancybox.iframe" href="{{dataVideo}}">
		<img src="{{img}}" alt="{{alt}}" />
	</a>
</div>

