<div class="index" data-action="index">
	{{> banner banner}}
		<section class="flex--column-to-row">
			{{> featured_video featured_video}}
			{{> rich_text_block rich_text_block}}
		</section>
		<section>
			{{> media_gallery media_gallery}}
		</section>
		<footer>
			{{> social_media_bar social_media_bar}}
		</footer>
</div>
