<div class="social-media-bar container container--dark" data-action="socialMediaBar">
	<p>{{title}}</p>
	<ul>
		{{#each icons}}
		<li><a href="{{url}}"><img src="{{icon}}" alt="{{alt}}"></a></li>
		{{/each}}
	</ul>
</div>
